<div class="footer">
    <a href="#">@AweedXchange Music Factory</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <img src="../assets/images/facebook.png" height="40" width="40" alt="Facebook image">
    <img src="../assets/images/Twitter.jpg" height="40" width="40" alt="twitter image">
</div>