<div class="connections">
    <a href="/connections">connections</a>    
</div>
<div class="header">

    <% if(loggedIn) { %>
        <a href="/savedConnections/myConnections">My Connections</a>
        <a href="/savedConnections/signout">Sign Out</a>
        <a href="/newConnection">Start a new connection</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/login">Sign Up</a>
        <a href="/login">Start a new connection</a>
    <% } %>
</div>