
<div class="connections">
    <a href="/connections">connections</a>    
</div>
<div class="header">
    <a href="#">Welcome <%= userName %></a>
    <a href="/savedConnections/signout">Sign Out</a>
</div>