<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/CSS" href="../assets/stylesheets/styles.css">
</head>
<body>
    
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navigation.ejs') %>

    <div class="about">
        <p>This application is used for the project of Network Based Application Developement ITIS 5166</p>
    </div>
    <%- include ('partials/footer.ejs') %>

</body>
</html>