<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/CSS" href="../assets/stylesheets/styles.css">
</head>
<body>

    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navigation.ejs') %>

    <div class="about">
        <p> Name: Shalvik Shah</p>
        <p> ID: 801127614</p>
    </div>
    
    <%- include ('partials/footer.ejs') %>

</body>
</html>